@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"],
  input[type="url"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="week"],
  input[type="time"],
  input[type="search"],
  input[type="tel"],
  select,
  select[multiple],
  textarea,
  select {
    @apply block
    w-full
    h-1/2
    font-montserrat
    rounded-md
    border-gray-300
    shadow-sm
    focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50;
  }
  button {
    @apply block
    font-montserrat;
  }
  
  html {
    font-family: Montserrat, system-ui, sans-serif;
  }
}
* :not(.pi) {
  font-family: "Montserrat", "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}
