.form-stepper-info {
    display: flex;
    align-items: flex-end;
}

.form-stepper p {
    margin: 0;
    line-height: 21px;
}

.form-step-text {
    color: black;
}

.form-step-text span {
    color: #50B940;
}

.form-stepper-counter {
    flex: 1;
    text-align: right;
    color: #50B940;
}

.form-stepper-bar {
    margin-top: 0.5rem;
    height: 12px;
    border-radius: 10px;
    background-color: #979797;
    position: relative;
}

.form-stepper-bar-progress {
    height: 12px;
    border-radius: 10px;
    background-color: #50B940;
    position: absolute;
}